apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: todos-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Jerrybaijy/todos-fullstack.git
    targetRevision: HEAD
    path: dev
  destination:
    server: https://kubernetes.default.svc
    namespace: todos-fullstack
  syncPolicy:
    syncOptions:
    - CreateNamespace=true
    automated:
      selfHeal: true
      prune: true
  ignoreDifferences:
  - group: apps
    kind: Deployment
    jsonPointers:
    - /spec/replicas
  - group: apps
    kind: StatefulSet
    jsonPointers:
    - /spec/replicas